In [0]:
from google.colab import files, drive
import pandas as pd
import numpy as np
import sys
import os
import re

In [0]:
def progressBar(cur, end, length=25):
  percentage = cur/end
  loading = '.' * (int(round(percentage * length))-1)
  spaces = ' ' * (length - len(loading))

  sys.stdout.write("\rLoading: [{0}] {1}%".format(loading + spaces, int(round(percentage * 100))))
  sys.stdout.flush()

In [0]:
os.environ['KAGGLE_USERNAME'] = 'vadmanuel'
os.environ['KAGGLE_KEY'] = 'key'
!kaggle competitions download -c ucfai-dsg-quals-fa19 --force

Downloading train.csv to /content
  0% 0.00/829k [00:00<?, ?B/s]
100% 829k/829k [00:00<00:00, 56.4MB/s]
Downloading test.csv to /content
  0% 0.00/281k [00:00<?, ?B/s]
100% 281k/281k [00:00<00:00, 86.7MB/s]

In [0]:
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
df = pd.read_csv('/content/train.csv')

In [0]:
columns_set = set(df.columns) - set(['ID', 'DOB', 'SALARY', 'ENDU_LEVEL', 'DIST_FRM_COAST', 'MNTLY_TRAVEL', 'Dist_Coast'])
sets = {}
for c in columns_set:
  temp_list = list(set(df.loc[:df.shape[0],c]))
  sets[c] = temp_list

In [0]:
df_copy = pd.DataFrame(columns=df.columns)

re_endu_level_item = re.compile('(\d+)(?: to )(\d+)|(\d+)(?:-)(\d+)|(\d+)(?:\+)')
re_dist_frm_coast_item = re.compile('(\d+)(?:-)(\d+)')
re_mntly_trave_time = re.compile('(\d+)(?:-)(\d+)|(\d+)(?:\+)')
re_salary = re.compile('(\d+)(?:[kK]?)(?:-)(\d+)(?:[kK]?)|(\d+)(?:M-)(\d+)(?:Million)')
re_dob = re.compile('(\d+)(?:/)(\d+)(?:/)(\d+)')

In [0]:
# dropped last row since it was just empty
for i in range(df.shape[0]-1):
  progressBar(i, df.shape[0])
  for c in columns_set:
    df_copy.loc[i, c] = sets[c].index(df.loc[i, c])

  dob_item = df.loc[i, 'DOB']
  if type(dob_item) is not str:
    df_copy.drop([i])
    continue
  check = re.search(re_dob, dob_item)
  if check.group():
    df_copy.loc[i, 'DOB'] = np.array([int(check.group(1)), int(check.group(2)), int(check.group(3))], dtype=np.int64)
  else:
    df_copy.drop([i])

  salary_item = df.loc[i, 'SALARY']
  if type(salary_item) is not str:
    df_copy.drop([i])
    continue
  check = re.search(re_salary, salary_item)
  if check.group(1) and check.group(2):
    df_copy.loc[i, 'SALARY'] = np.array([int(check.group(1)), int(check.group(2))], dtype=np.int64)
  elif check.group(3) and check.group(4):
    df_copy.loc[i, 'SALARY'] = np.array([int(check.group(3) + '000'), int(check.group(4) + '000')], dtype=np.int64)
  else:
    df_copy.drop([i])

  endu_level_item = df.loc[i,'ENDU_LEVEL']
  if type(endu_level_item) is not str:
    df_copy.drop([i])
    continue
  check = re.search(re_endu_level_item, endu_level_item)
  if check.group(1) and check.group(2):
    df_copy.loc[i, 'ENDU_LEVEL'] = df_copy.loc[i, 'MNTLY_TRAVEL'] = np.array([int(check.group(1)), int(check.group(2))], dtype=np.int64)
  elif check.group(3) and check.group(4):
    df_copy.loc[i, 'ENDU_LEVEL'] = df_copy.loc[i, 'MNTLY_TRAVEL'] = np.array([int(check.group(3)), int(check.group(4))], dtype=np.int64)
  elif check.group(5):
    df_copy.loc[i, 'ENDU_LEVEL'] = df_copy.loc[i, 'MNTLY_TRAVEL'] = np.array([int(check.group(5))], dtype=np.int64)
  else:
    df_copy.drop([i])

  
  dist_frm_coast_item = df.loc[i,'DIST_FRM_COAST']
  if type(dist_frm_coast_item) is not str:
    df_copy.drop([i])
    continue
  check = re.search(re_dist_frm_coast_item, dist_frm_coast_item)
  if check.group():
    df_copy.loc[i, 'DIST_FRM_COAST'] = df_copy.loc[i, 'MNTLY_TRAVEL'] = np.array([int(check.group(1)), int(check.group(2))], dtype=np.int64)
  else:
    df_copy.drop([i])

  mntly_travel_item = df.loc[i,'MNTLY_TRAVEL']
  if type(mntly_travel_item) is not str:
    df_copy.drop([i])
    continue
  check = re.search(re_mntly_trave_time, mntly_travel_item)
  if check.group(1) and check.group(2):
    df_copy.loc[i, 'MNTLY_TRAVEL'] = np.array([int(check.group(1)), int(check.group(2))], dtype=np.int64)
  elif check.group(3):
    df_copy.loc[i, 'MNTLY_TRAVEL'] = np.array([int(check.group(3))], dtype=np.int64)
  else:
    df_copy.drop([i])
  
  dist_coast_item = df.loc[i,'Dist_Coast']
  if type(dist_coast_item) not in [np.int64, np.float64]:
    df_copy.drop([i])
    continue
  df_copy.loc[i, 'Dist_Coast'] = np.int64(dist_coast_item)

  id_item = df.loc[i, 'ID']
  if type(id_item) not in [np.int64, np.float64]:
    df_copy.drop([i])
    continue
  df_copy.loc[i, 'ID'] = np.int64(id_item)

df_copy.tail(10)

Loading: [........................ ] 100%

        ID             DOB M_STATUS  ... FAV_SUPERHERO Dist_Coast Class
3509  8355   [5, 26, 1989]        3  ...             7        304     1
3510  8356   [3, 24, 1981]        1  ...             1       1336     0
3511  8357   [9, 21, 1972]        2  ...             2        736     1
3512  8358  [11, 20, 1964]        3  ...             1       1020     0
3513  8359    [8, 5, 1962]        3  ...             7       1249     1
3514  8360   [8, 14, 1982]        2  ...             2        130     0
3515  8361   [4, 28, 1972]        3  ...             7        417     1
3516  8362  [11, 11, 1972]        3  ...             1        391     0
3517  8363    [9, 4, 1972]        3  ...             6        497     1
3518  8364   [5, 26, 1979]        0  ...             1        469     1

[10 rows x 24 columns]

In [0]:
df_copy.to_csv('gdrive/My Drive/prep_train.csv', index=False)
files.download('prep_train.csv')

In [0]:
df_copy

        ID             DOB M_STATUS  ... FAV_SUPERHERO Dist_Coast Class
0     4846    [3, 2, 1991]        3  ...             7        202     1
1     4847   [11, 7, 1977]        1  ...             3       1454     1
2     4848    [7, 4, 1964]        3  ...             3        623     1
3     4849   [2, 11, 1983]        3  ...             1        164     1
4     4850   [2, 12, 1981]        2  ...             4       1423     0
5     4851   [2, 16, 1977]        3  ...             6       1480     0
6     4852   [5, 22, 1981]        2  ...             4        143     1
7     4853  [11, 22, 1970]        3  ...             3         45     0
8     4854  [10, 27, 1981]        3  ...             7        944     1
9     4855   [4, 13, 1994]        2  ...             7       1102     0
10    4856    [6, 7, 1962]        2  ...             4        919     1
11    4857   [8, 27, 1986]        3  ...             7        797     1
12    4858    [9, 5, 1982]        3  ...             6        225     0
13    4859   [7, 30, 1989]        2  ...             1       1098     1
14    4860   [11, 3, 1962]        2  ...             4         74     0
15    4861   [8, 14, 1985]        3  ...             4        536     1
16    4862   [8, 26, 1981]        3  ...             1        584     0
17    4863    [6, 9, 1975]        2  ...             4        996     0
18    4864   [7, 10, 1990]        3  ...             1       1118     1
19    4865   [4, 29, 1963]        3  ...             3       1197     1
20    4866   [8, 29, 1994]        3  ...             4        553     1
21    4867   [7, 20, 1990]        2  ...             2       1290     0
22    4868   [6, 27, 1975]        3  ...             7       1196     0
23    4869   [7, 19, 1961]        3  ...             3        606     1
24    4870   [8, 25, 1994]        3  ...             4        277     0
25    4871   [2, 12, 1985]        3  ...             5        820     0
26    4872   [2, 11, 1969]        1  ...             6       1193     1
27    4873   [9, 25, 1964]        3  ...             6        939     0
28    4874  [12, 15, 1970]        2  ...             5        829     1
29    4875   [3, 23, 1968]        2  ...             7        314     0
...    ...             ...      ...  ...           ...        ...   ...
3489  8335    [8, 5, 1988]        3  ...             3        154     1
3490  8336    [7, 6, 1972]        2  ...             1        669     1
3491  8337  [10, 26, 1982]        2  ...             4        737     1
3492  8338   [4, 29, 1970]        3  ...             2       1319     0
3493  8339   [2, 28, 1990]        3  ...             4        131     0
3494  8340   [6, 14, 1992]        2  ...             4        279     0
3495  8341   [8, 13, 1992]        2  ...             2       1269     0
3496  8342   [7, 11, 1984]        3  ...             7       1115     1
3497  8343   [5, 29, 1966]        3  ...             2       1170     1
3498  8344   [8, 23, 1961]        2  ...             7        432     1
3499  8345    [4, 4, 1968]        2  ...             2         81     0
3500  8346   [1, 15, 1975]        2  ...             7       1155     1
3501  8347    [4, 3, 1982]        2  ...             5       1269     1
3502  8348   [6, 28, 1995]        3  ...             6        665     1
3503  8349   [8, 27, 1988]        3  ...             4        628     0
3504  8350   [1, 11, 1966]        3  ...             5       1250     1
3505  8351   [6, 27, 1989]        2  ...             2         74     0
3506  8352   [12, 4, 1964]        2  ...             6        209     0
3507  8353   [4, 27, 1978]        3  ...             6       1140     1
3508  8354    [3, 1, 1985]        1  ...             2       1059     0
3509  8355   [5, 26, 1989]        3  ...             7        304     1
3510  8356   [3, 24, 1981]        1  ...             1       1336     0
3511  8357   [9, 21, 1972]        2  ...             2        736     1
3512  8358  [11, 20, 1964]        3  ...             1       1020     0
3513  8359    [8, 5, 1962]        3  ...             7       1249     1
3514  8360   [8, 14, 1982]        2  ...             2        130     0
3515  8361   [4, 28, 1972]        3  ...             7        417     1
3516  8362  [11, 11, 1972]        3  ...             1        391     0
3517  8363    [9, 4, 1972]        3  ...             6        497     1
3518  8364   [5, 26, 1979]        0  ...             1        469     1

[3519 rows x 24 columns]